# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives__

- List popular languages for Data Science
- List Data Science Libraries
- Table of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. NumPy
3. SciPy
4. Pandas

Data Science Tools
------------------
Apache Hadoop

Apache Spark

Apache Flink

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Amlan Paul